packages:
  yum:
    git: []
    gcc: []
    libstdc++-devel: []
    gcc-c++: []
    fuse: []
    fuse-libs: []
    fuse-devel: []
    libcurl-devel: []
    libxml2-devel: []
    libxml2-python26: []
    libxml2-static: []
    openssl-devel: []
    mailcap: []
    automake: []

sources:
  /home/ec2-user: https://github.com/s3fs-fuse/s3fs-fuse/archive/master.zip

commands:
  02-do_autogen:
    command: sh autogen.sh
    cwd: /home/ec2-user/s3fs-fuse-master
  03-configure_s3fs:
    command: ./configure
    cwd: /home/ec2-user/s3fs-fuse-master
  04-make_s3fs:
    command: make
    cwd: /home/ec2-user/s3fs-fuse-master
  05-install_s3fs:
    command: make install
    cwd: /home/ec2-user/s3fs-fuse-master
  06-unmount:
    command: umount $MOUNT_DIR$ || /bin/true
    cwd: $BASE_DIR$
  07-mkdir:
    command: mkdir -p $MOUNT_DIR$ > /dev/null
    cwd: $BASE_DIR$

files:
  "/tmp/mount_s3fs.sh":
    owner: root
    group: root
    mode: "000755"
    content: |
      #! /bin/bash
      s3fs -o allow_other -o uid=$UID$,gid=$GID$,use_cache=/tmp,use_path_request_style,url=https://s3.amazonaws.com $BUCKET_NAME$ $MOUNT_DIR$
  "/etc/passwd-s3fs":
    owner: root
    group: root
    mode: "000640"
    content: |
      $BUCKET_CREDENTIALS$

container_commands:
  01_mount_s3fs:
    command: sh /tmp/mount_s3fs.sh